<div class="row" style="background-color:black; height:100%">
    <div class="col-sm-6 ">

     <div class="row mx-4">
        <div class="col-sm-6">
            <form action="">

                <label for="" class="text-light mt-2">Name</label>
                <input type="text" class="form-control" id="name" placeholder="">
                <label for="" class="text-light mt-2">Email</label>
                <input type="text" class="form-control" id="name" placeholder="">
                <label for="" class="text-light mt-2">Password</label>
                <input type="text" class="form-control" id="name" placeholder="">

                <input type="submit" value="Submit" class="btn btn-outline-danger mt-4">
    
    
            </form>
        </div>
     </div>

    </div>

    <div class="col-sm-6 ">
        <img src="./../../../../assets/Images/lee.jpg" alt="" height="450px">
    </div>
</div>

<div class="row" style="background-color:black; height:600px">
    <div class="col-sm-6">
        <img src="./../../../../assets/Images/girl.jpg" alt="" height="450px">
    </div>

    <div class="col-sm-6">

    </div>
</div>