<div class="row ">

    <div class="col-sm-4">
        <img src="~/Images/lee.jpg" style="width:400px;  height:400px;" />
       
    </div>
    <div class="col-sm-4">
        <img src="~/Images/lee2.jpg" style="width:400px;  height:400px;" />
    </div>  <div class="col-sm-4">
        <img src="~/Images/lee3.jpg" style="width:400px;  height:400px;" />

</div>
