
<div class="row">
<div class="col-sm-4">
    <img src="~/Images/cha1.jpg" style="width:400px;  height:400px;" />

</div> 
<div class="col-sm-4">
    <img src="~/Images/lee3.jpg" style="width:400px;  height:400px;" />

</div> 
<div class="col-sm-4">
    <img src="~/Images/ktr1.jpg" style="width:400px;  height:400px;" />

</div>
</div>


<div class="container">

    <h3 class="mt-4  text-center bg-secondary"> Services</h3>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Actor Services</th>
                <th>User Services</th>
            </tr>
        </thead>

        <tbody>
           
            <tr>
                <th><a  asp-action="AddActor" asp-controller="Home"> Add Actor </a></th>
                <th><a asp-action="Add User" asp-controller="Home"> Add User </a></th>
            </tr>


            <tr>
                <th><a asp-action="AddActor" asp-controller="Home"> Add Actor Details </a></th>
                <th><a asp-action="Add User" asp-controller="Home"> Add User </a></th>
            </tr>



            <tr>
                <th><a asp-action="AddActor" asp-controller="Home"> Add Movies </a></th>
                <th><a asp-action="Add User" asp-controller="Home"> Add User </a></th>
            </tr>



            <tr>
                <th><a asp-action="AddActor" asp-controller="Home"> Add Movies By Id </a></th>
                <th><a asp-action="Add User" asp-controller="Home"> Add User </a></th>
            </tr>
            
        </tbody>

    </table>



</div>