<div class = "bg-dark" >
<div class="container  alert-info bg-dark">

    <div class="row">
        <div class="col-sm-6 text-light">
            <img src="./../../../assets/Images/lee.jpg" alt="" class="img-fluid" style="width: 400px; height: 400px;">
            <div class="container mt-4">
                <h3 class="">{{actordeatils.name}}</h3>
                <h5>DOB : {{actordeatils.dob}}</h5>
                <hr>
                <h5>Age : {{actordeatils.age}}</h5>
                <h5>Gender : {{actordeatils.gender}}</h5>
                <h5>Nationality : {{actordeatils.nationality}}</h5>
                <h5>Marital Status : {{actordeatils.maritalStatus}}</h5>
                <h5>Latest Movie : {{actordeatils.latestMovie}}</h5>
                <h5>No of movies : {{actordeatils.noOfMovies}}</h5>
                <h5>No of awards : {{actordeatils.noOfAwards}}</h5>
            </div>
        </div>


        <div class="col-sm-6 text-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolore maiores voluptatibus at id reprehenderit voluptas labore itaque nulla, quaerat earum unde illum adipisci doloremque cumque nobis eligendi modi ullam!
            Culpa cum officiis doloribus, impedit eius perspiciatis fugit. Veniam excepturi vero saepe officia ex quis ut quam. Enim, quis. Voluptatibus quod porro necessitatibus veritatis ad, ipsa quis molestias deleniti. Soluta.
            Praesentium qui et ea autem voluptatem numquam officiis ducimus, possimus voluptatum libero consequuntur in, dolor, laborum saepe dolorum odio nemo odit repudiandae est? Dignissimos molestias doloremque ducimus, et similique deserunt.
            Nemo obcaecati optio velit porro provident doloremque placeat modi rem corporis voluptatum architecto beatae autem maiores dolores id, sint quae voluptatem similique deleniti temporibus voluptas consequatur minima? Ipsa, aperiam blanditiis.
            Similique dolorum quam nam dicta praesentium, iste odit quae velit eveniet consequuntur aperiam quasi deleniti rerum vero et tempore ab tempora rem, id alias dolore consequatur? Porro enim eum molestiae!
            Molestiae, laudantium alias sunt tempora, adipisci suscipit iusto laboriosam expedita doloribus tempore quam officiis eveniet dolor eos laborum amet ratione esse distinctio iste excepturi beatae. Sed pariatur deleniti aliquid facilis!
            Quos beatae natus culpa deserunt hic reiciendis aperiam libero consequatur odit. Accusamus excepturi laboriosam molestiae ea voluptatum nihil minima deserunt aperiam asperiores adipisci doloremque optio quasi quidem, hic dolores tempora.
            Nam inventore ratione aliquid laboriosam pariatur porro facilis harum et eaque commodi laborum fugiat est adipisci nisi culpa sequi rerum eligendi non, repellat ullam corporis! Officia soluta nisi nostrum maiores.
            In ex facere praesentium maxime nulla. Sint labore laborum quam iusto, similique praesentium nihil tenetur blanditiis modi unde sunt! Est distinctio placeat labore quo itaque eveniet autem, sapiente consequuntur eligendi.

        <hr>

        <table class="table-stripped table table-dark bg-dark">
            <thead>
            <tr>
                <th>movies</th>
                <th>Ratings</th>
            </tr>
            </thead>
<tbody>
 <ng-container *ngFor="let item of moviedetails">
    <tr>
        <td>{{item}}</td>
        <td class="text-warning">✰✰✰✰✰</td>
    </tr>
 </ng-container>
</tbody>
        </table>

        </div>
    </div>
</div>
</div>