<div class = "bg-dark" >
<div class="container  alert-info bg-dark">

    <div class="row">
        <div class="col-sm-6 text-light">
            <img src="./../../../assets/Images/lee.jpg" alt="" class="img-fluid" style="width: 400px; height: 400px;">
            <div class="container mt-4">
                <h3 class="">{{actordeatils.name}}</h3>
                <h5>DOB : {{actordeatils.dob}}</h5>
                <hr>
                <h5>Age : {{actordeatils.age}}</h5>
                <h5>Gender : {{actordeatils.gender}}</h5>
                <h5>Nationality : {{actordeatils.nationality}}</h5>
                <h5>Marital Status : {{actordeatils.maritalStatus}}</h5>
                <h5>Latest Movie : {{actordeatils.latestMovie}}</h5>
                <h5>No of movies : {{actordeatils.noOfMovies}}</h5>
                <h5>No of awards : {{actordeatils.noOfAwards}}</h5>
            </div>
        </div>


        <div class="col-sm-6 text-light" >
             <div>{{details.detail}}</div>

        <hr>

        <table class="table-stripped table table-dark bg-dark">
            <thead>
            <tr>
                <th>movies</th>
                <th>Ratings</th>
            </tr>
            </thead>
<tbody>
 <ng-container *ngFor="let item of moviedetails">
    <tr>
        <td>{{item}}</td>
        <td class="text-warning">✰✰✰✰✰</td>
    </tr>
 </ng-container>
</tbody>
        </table>

        </div>
    </div>
</div>
</div>